In [2]:
import pandas as pd

In [3]:
airquality_clean = pd.read_csv('data/airquality_clean.csv')
airquality_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       9357 non-null   object
 1   CO(GT)         8024 non-null   float64
 2   PT08.S1(CO)    9066 non-null   float64
 3   NMHC(GT)       942 non-null    float64
 4   C6H6(GT)       9066 non-null   float64
 5   PT08.S2(NMHC)  9066 non-null   float64
 6   NOx(GT)        8169 non-null   float64
 7   PT08.S3(NOx)   9066 non-null   float64
 8   NO2(GT)        8167 non-null   float64
 9   PT08.S4(NO2)   9066 non-null   float64
 10  PT08.S5(O3)    9066 non-null   float64
 11  T              9066 non-null   float64
 12  RH             9066 non-null   float64
 13  AH             9066 non-null   float64
 14  Hour           9357 non-null   int64
 15  Weekday        9357 non-null   int64
 16  Month          9357 non-null   int64
dtypes: float64(13), int64(3), object(1)
memory usage: 1.2+ MB

In [4]:
airquality_clean = pd.read_csv('data/airquality_clean_with_anomaly.csv')
airquality_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 62 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   datetime                9357 non-null   object
 1   CO(GT)                  8024 non-null   float64
 2   PT08.S1(CO)             9066 non-null   float64
 3   NMHC(GT)                942 non-null    float64
 4   C6H6(GT)                9066 non-null   float64
 5   PT08.S2(NMHC)           9066 non-null   float64
 6   NOx(GT)                 8169 non-null   float64
 7   PT08.S3(NOx)            9066 non-null   float64
 8   NO2(GT)                 8167 non-null   float64
 9   PT08.S4(NO2)            9066 non-null   float64
 10  PT08.S5(O3)             9066 non-null   float64
 11  T                       9066 non-null   float64
 12  RH                      9066 non-null   float64
 13  AH                      9066 non-null   float64
 14  Hour                    9357 non-null   int64
 15  Weekday                 9357 non-null   int64
 16  Month                   9357 non-null   int64
 17  anomMAD_CO(GT)          9357 non-null   bool
 18  anomMAD_NMHC(GT)        9357 non-null   bool
 19  anomMAD_C6H6(GT)        9357 non-null   bool
 20  anomMAD_NOx(GT)         9357 non-null   bool
 21  anomMAD_NO2(GT)         9357 non-null   bool
 22  anomMAD_PT08.S1(CO)     9357 non-null   bool
 23  anomMAD_PT08.S2(NMHC)   9357 non-null   bool
 24  anomMAD_PT08.S3(NOx)    9357 non-null   bool
 25  anomMAD_PT08.S4(NO2)    9357 non-null   bool
 26  anomMAD_PT08.S5(O3)     9357 non-null   bool
 27  resid_CO(GT)            8024 non-null   float64
 28  anomRES_CO(GT)          9357 non-null   bool
 29  resid_NMHC(GT)          0 non-null      float64
 30  anomRES_NMHC(GT)        9357 non-null   bool
 31  resid_C6H6(GT)          9066 non-null   float64
 32  anomRES_C6H6(GT)        9357 non-null   bool
 33  resid_NOx(GT)           8169 non-null   float64
 34  anomRES_NOx(GT)         9357 non-null   bool
 35  resid_NO2(GT)           8167 non-null   float64
 36  anomRES_NO2(GT)         9357 non-null   bool
 37  resid_PT08.S1(CO)       9066 non-null   float64
 38  anomRES_PT08.S1(CO)     9357 non-null   bool
 39  resid_PT08.S2(NMHC)     9066 non-null   float64
 40  anomRES_PT08.S2(NMHC)   9357 non-null   bool
 41  resid_PT08.S3(NOx)      9066 non-null   float64
 42  anomRES_PT08.S3(NOx)    9357 non-null   bool
 43  resid_PT08.S4(NO2)      9066 non-null   float64
 44  anomRES_PT08.S4(NO2)    9357 non-null   bool
 45  resid_PT08.S5(O3)       9066 non-null   float64
 46  anomRES_PT08.S5(O3)     9357 non-null   bool
 47  anomIF                  9357 non-null   bool
 48  IF_score                7620 non-null   float64
 49  anomGT_CO(GT)           9357 non-null   bool
 50  anomGT_NMHC(GT)         9357 non-null   bool
 51  anomGT_C6H6(GT)         9357 non-null   bool
 52  anomGT_NOx(GT)          9357 non-null   bool
 53  anomGT_NO2(GT)          9357 non-null   bool
 54  anomPT08_PT08.S1(CO)    9357 non-null   bool
 55  anomPT08_PT08.S2(NMHC)  9357 non-null   bool
 56  anomPT08_PT08.S3(NOx)   9357 non-null   bool
 57  anomPT08_PT08.S4(NO2)   9357 non-null   bool
 58  anomPT08_PT08.S5(O3)    9357 non-null   bool
 59  weekday                 9357 non-null   int64
 60  hour                    9357 non-null   int64
 61  month                   9357 non-null   int64
dtypes: bool(31), float64(24), int64(6), object(1)
memory usage: 2.5+ MB

In [6]:
AirQualityUCI = pd.read_csv('data/AirQualityUCI.csv', sep=';')
AirQualityUCI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB

In [7]:
import os

# 获取目录下所有csv文件
csv_dir = 'data/temporal_features'
csv_files = [f for f in os.listdir(csv_dir) if f.endswith('.csv')]

# 动态读取csv文件并以文件名作为变量名
for csv_file in csv_files:
    var_name = os.path.splitext(csv_file)[0]  # 去掉扩展名作为变量名
    globals()[var_name] = pd.read_csv(os.path.join(csv_dir, csv_file))
    print(f"Loaded {csv_file} into variable '{var_name}'")

Loaded features_daily_C6H6.csv into variable 'features_daily_C6H6'
Loaded features_daily_CO.csv into variable 'features_daily_CO'
Loaded features_daily_master_all_targets.csv into variable 'features_daily_master_all_targets'
Loaded features_daily_NO2.csv into variable 'features_daily_NO2'
Loaded features_daily_NOx.csv into variable 'features_daily_NOx'
Loaded features_hourly_C6H6.csv into variable 'features_hourly_C6H6'
Loaded features_hourly_CO.csv into variable 'features_hourly_CO'
Loaded features_hourly_master_all_targets.csv into variable 'features_hourly_master_all_targets'
Loaded features_hourly_NO2.csv into variable 'features_hourly_NO2'
Loaded features_hourly_NOx.csv into variable 'features_hourly_NOx'

In [8]:
features_daily_C6H6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             360 non-null    object
 1   CO(GT)               326 non-null    float64
 2   PT08.S1(CO)          360 non-null    float64
 3   NMHC(GT)             37 non-null     float64
 4   C6H6(GT)             360 non-null    float64
 5   PT08.S2(NMHC)        360 non-null    float64
 6   NOx(GT)              329 non-null    float64
 7   PT08.S3(NOx)         360 non-null    float64
 8   NO2(GT)              329 non-null    float64
 9   PT08.S4(NO2)         360 non-null    float64
 10  PT08.S5(O3)          360 non-null    float64
 11  T                    360 non-null    float64
 12  RH                   360 non-null    float64
 13  AH                   360 non-null    float64
 14  Hour                 360 non-null    float64
 15  Weekday              360 non-null    float64
 16  Month                360 non-null    float64
 17  T_lag1               360 non-null    float64
 18  T_lag2               360 non-null    float64
 19  T_lag7               360 non-null    float64
 20  RH_lag1              360 non-null    float64
 21  RH_lag2              360 non-null    float64
 22  RH_lag7              360 non-null    float64
 23  AH_lag1              360 non-null    float64
 24  AH_lag2              360 non-null    float64
 25  AH_lag7              360 non-null    float64
 26  C6H6(GT)_lag1        360 non-null    float64
 27  C6H6(GT)_lag2        360 non-null    float64
 28  C6H6(GT)_lag7        360 non-null    float64
 29  C6H6(GT)_rollmean_3  360 non-null    float64
 30  C6H6(GT)_rollmean_7  360 non-null    float64
dtypes: float64(30), object(1)
memory usage: 87.3+ KB

In [9]:
features_daily_CO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             273 non-null    object
 1   CO(GT)               273 non-null    float64
 2   PT08.S1(CO)          273 non-null    float64
 3   NMHC(GT)             27 non-null     float64
 4   C6H6(GT)             273 non-null    float64
 5   PT08.S2(NMHC)        273 non-null    float64
 6   NOx(GT)              271 non-null    float64
 7   PT08.S3(NOx)         273 non-null    float64
 8   NO2(GT)              271 non-null    float64
 9   PT08.S4(NO2)         273 non-null    float64
 10  PT08.S5(O3)          273 non-null    float64
 11  T                    273 non-null    float64
 12  RH                   273 non-null    float64
 13  AH                   273 non-null    float64
 14  Hour                 273 non-null    float64
 15  Weekday              273 non-null    float64
 16  Month                273 non-null    float64
 17  T_lag1               273 non-null    float64
 18  T_lag2               273 non-null    float64
 19  T_lag7               273 non-null    float64
 20  RH_lag1              273 non-null    float64
 21  RH_lag2              273 non-null    float64
 22  RH_lag7              273 non-null    float64
 23  AH_lag1              273 non-null    float64
 24  AH_lag2              273 non-null    float64
 25  AH_lag7              273 non-null    float64
 26  C6H6(GT)_lag1        273 non-null    float64
 27  C6H6(GT)_lag2        273 non-null    float64
 28  C6H6(GT)_lag7        273 non-null    float64
 29  C6H6(GT)_rollmean_3  273 non-null    float64
 30  C6H6(GT)_rollmean_7  273 non-null    float64
 31  CO(GT)_lag1          273 non-null    float64
 32  CO(GT)_lag2          273 non-null    float64
 33  CO(GT)_lag7          273 non-null    float64
 34  CO(GT)_rollmean_3    273 non-null    float64
 35  CO(GT)_rollmean_7    273 non-null    float64
dtypes: float64(35), object(1)
memory usage: 76.9+ KB

In [10]:
features_daily_master_all_targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             391 non-null    object
 1   CO(GT)               356 non-null    float64
 2   PT08.S1(CO)          384 non-null    float64
 3   NMHC(GT)             44 non-null     float64
 4   C6H6(GT)             384 non-null    float64
 5   PT08.S2(NMHC)        384 non-null    float64
 6   NOx(GT)              358 non-null    float64
 7   PT08.S3(NOx)         384 non-null    float64
 8   NO2(GT)              358 non-null    float64
 9   PT08.S4(NO2)         384 non-null    float64
 10  PT08.S5(O3)          384 non-null    float64
 11  T                    384 non-null    float64
 12  RH                   384 non-null    float64
 13  AH                   384 non-null    float64
 14  Hour                 391 non-null    float64
 15  Weekday              391 non-null    float64
 16  Month                391 non-null    float64
 17  T_lag1               383 non-null    float64
 18  T_lag2               382 non-null    float64
 19  T_lag7               377 non-null    float64
 20  RH_lag1              383 non-null    float64
 21  RH_lag2              382 non-null    float64
 22  RH_lag7              377 non-null    float64
 23  AH_lag1              383 non-null    float64
 24  AH_lag2              382 non-null    float64
 25  AH_lag7              377 non-null    float64
 26  C6H6(GT)_lag1        383 non-null    float64
 27  C6H6(GT)_lag2        382 non-null    float64
 28  C6H6(GT)_lag7        377 non-null    float64
 29  C6H6(GT)_rollmean_3  391 non-null    float64
 30  C6H6(GT)_rollmean_7  391 non-null    float64
 31  CO(GT)_lag1          355 non-null    float64
 32  CO(GT)_lag2          354 non-null    float64
 33  CO(GT)_lag7          349 non-null    float64
 34  CO(GT)_rollmean_3    378 non-null    float64
 35  CO(GT)_rollmean_7    391 non-null    float64
 36  NOx(GT)_lag1         357 non-null    float64
 37  NOx(GT)_lag2         356 non-null    float64
 38  NOx(GT)_lag7         351 non-null    float64
 39  NOx(GT)_rollmean_3   378 non-null    float64
 40  NOx(GT)_rollmean_7   391 non-null    float64
 41  NO2(GT)_lag1         357 non-null    float64
 42  NO2(GT)_lag2         356 non-null    float64
 43  NO2(GT)_lag7         351 non-null    float64
 44  NO2(GT)_rollmean_3   378 non-null    float64
 45  NO2(GT)_rollmean_7   391 non-null    float64
dtypes: float64(45), object(1)
memory usage: 140.6+ KB

In [11]:
features_daily_NO2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             279 non-null    object
 1   CO(GT)               272 non-null    float64
 2   PT08.S1(CO)          279 non-null    float64
 3   NMHC(GT)             27 non-null     float64
 4   C6H6(GT)             279 non-null    float64
 5   PT08.S2(NMHC)        279 non-null    float64
 6   NOx(GT)              279 non-null    float64
 7   PT08.S3(NOx)         279 non-null    float64
 8   NO2(GT)              279 non-null    float64
 9   PT08.S4(NO2)         279 non-null    float64
 10  PT08.S5(O3)          279 non-null    float64
 11  T                    279 non-null    float64
 12  RH                   279 non-null    float64
 13  AH                   279 non-null    float64
 14  Hour                 279 non-null    float64
 15  Weekday              279 non-null    float64
 16  Month                279 non-null    float64
 17  T_lag1               279 non-null    float64
 18  T_lag2               279 non-null    float64
 19  T_lag7               279 non-null    float64
 20  RH_lag1              279 non-null    float64
 21  RH_lag2              279 non-null    float64
 22  RH_lag7              279 non-null    float64
 23  AH_lag1              279 non-null    float64
 24  AH_lag2              279 non-null    float64
 25  AH_lag7              279 non-null    float64
 26  C6H6(GT)_lag1        279 non-null    float64
 27  C6H6(GT)_lag2        279 non-null    float64
 28  C6H6(GT)_lag7        279 non-null    float64
 29  C6H6(GT)_rollmean_3  279 non-null    float64
 30  C6H6(GT)_rollmean_7  279 non-null    float64
 31  CO(GT)_lag1          272 non-null    float64
 32  CO(GT)_lag2          272 non-null    float64
 33  CO(GT)_lag7          271 non-null    float64
 34  CO(GT)_rollmean_3    277 non-null    float64
 35  CO(GT)_rollmean_7    279 non-null    float64
 36  NOx(GT)_lag1         279 non-null    float64
 37  NOx(GT)_lag2         279 non-null    float64
 38  NOx(GT)_lag7         279 non-null    float64
 39  NOx(GT)_rollmean_3   279 non-null    float64
 40  NOx(GT)_rollmean_7   279 non-null    float64
 41  NO2(GT)_lag1         279 non-null    float64
 42  NO2(GT)_lag2         279 non-null    float64
 43  NO2(GT)_lag7         279 non-null    float64
 44  NO2(GT)_rollmean_3   279 non-null    float64
 45  NO2(GT)_rollmean_7   279 non-null    float64
dtypes: float64(45), object(1)
memory usage: 100.4+ KB

In [12]:
features_daily_NOx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             279 non-null    object
 1   CO(GT)               272 non-null    float64
 2   PT08.S1(CO)          279 non-null    float64
 3   NMHC(GT)             27 non-null     float64
 4   C6H6(GT)             279 non-null    float64
 5   PT08.S2(NMHC)        279 non-null    float64
 6   NOx(GT)              279 non-null    float64
 7   PT08.S3(NOx)         279 non-null    float64
 8   NO2(GT)              279 non-null    float64
 9   PT08.S4(NO2)         279 non-null    float64
 10  PT08.S5(O3)          279 non-null    float64
 11  T                    279 non-null    float64
 12  RH                   279 non-null    float64
 13  AH                   279 non-null    float64
 14  Hour                 279 non-null    float64
 15  Weekday              279 non-null    float64
 16  Month                279 non-null    float64
 17  T_lag1               279 non-null    float64
 18  T_lag2               279 non-null    float64
 19  T_lag7               279 non-null    float64
 20  RH_lag1              279 non-null    float64
 21  RH_lag2              279 non-null    float64
 22  RH_lag7              279 non-null    float64
 23  AH_lag1              279 non-null    float64
 24  AH_lag2              279 non-null    float64
 25  AH_lag7              279 non-null    float64
 26  C6H6(GT)_lag1        279 non-null    float64
 27  C6H6(GT)_lag2        279 non-null    float64
 28  C6H6(GT)_lag7        279 non-null    float64
 29  C6H6(GT)_rollmean_3  279 non-null    float64
 30  C6H6(GT)_rollmean_7  279 non-null    float64
 31  CO(GT)_lag1          272 non-null    float64
 32  CO(GT)_lag2          272 non-null    float64
 33  CO(GT)_lag7          271 non-null    float64
 34  CO(GT)_rollmean_3    277 non-null    float64
 35  CO(GT)_rollmean_7    279 non-null    float64
 36  NOx(GT)_lag1         279 non-null    float64
 37  NOx(GT)_lag2         279 non-null    float64
 38  NOx(GT)_lag7         279 non-null    float64
 39  NOx(GT)_rollmean_3   279 non-null    float64
 40  NOx(GT)_rollmean_7   279 non-null    float64
dtypes: float64(40), object(1)
memory usage: 89.5+ KB

In [13]:
features_hourly_C6H6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8858 entries, 0 to 8857
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              8858 non-null   object
 1   CO(GT)                7559 non-null   float64
 2   PT08.S1(CO)           8858 non-null   float64
 3   NMHC(GT)              876 non-null    float64
 4   C6H6(GT)              8858 non-null   float64
 5   PT08.S2(NMHC)         8858 non-null   float64
 6   NOx(GT)               7706 non-null   float64
 7   PT08.S3(NOx)          8858 non-null   float64
 8   NO2(GT)               7704 non-null   float64
 9   PT08.S4(NO2)          8858 non-null   float64
 10  PT08.S5(O3)           8858 non-null   float64
 11  T                     8858 non-null   float64
 12  RH                    8858 non-null   float64
 13  AH                    8858 non-null   float64
 14  Hour                  8858 non-null   int64
 15  Weekday               8858 non-null   int64
 16  Month                 8858 non-null   int64
 17  T_lag1                8858 non-null   float64
 18  T_lag3                8858 non-null   float64
 19  T_lag6                8858 non-null   float64
 20  T_lag24               8858 non-null   float64
 21  RH_lag1               8858 non-null   float64
 22  RH_lag3               8858 non-null   float64
 23  RH_lag6               8858 non-null   float64
 24  RH_lag24              8858 non-null   float64
 25  AH_lag1               8858 non-null   float64
 26  AH_lag3               8858 non-null   float64
 27  AH_lag6               8858 non-null   float64
 28  AH_lag24              8858 non-null   float64
 29  C6H6(GT)_lag1         8858 non-null   float64
 30  C6H6(GT)_lag3         8858 non-null   float64
 31  C6H6(GT)_lag6         8858 non-null   float64
 32  C6H6(GT)_lag24        8858 non-null   float64
 33  C6H6(GT)_rollmean_3   8858 non-null   float64
 34  C6H6(GT)_rollmean_24  8858 non-null   float64
dtypes: float64(31), int64(3), object(1)
memory usage: 2.4+ MB

In [14]:
features_hourly_CO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7037 entries, 0 to 7036
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              7037 non-null   object
 1   CO(GT)                7037 non-null   float64
 2   PT08.S1(CO)           7037 non-null   float64
 3   NMHC(GT)              808 non-null    float64
 4   C6H6(GT)              7037 non-null   float64
 5   PT08.S2(NMHC)         7037 non-null   float64
 6   NOx(GT)               6960 non-null   float64
 7   PT08.S3(NOx)          7037 non-null   float64
 8   NO2(GT)               6960 non-null   float64
 9   PT08.S4(NO2)          7037 non-null   float64
 10  PT08.S5(O3)           7037 non-null   float64
 11  T                     7037 non-null   float64
 12  RH                    7037 non-null   float64
 13  AH                    7037 non-null   float64
 14  Hour                  7037 non-null   int64
 15  Weekday               7037 non-null   int64
 16  Month                 7037 non-null   int64
 17  T_lag1                7037 non-null   float64
 18  T_lag3                7037 non-null   float64
 19  T_lag6                7037 non-null   float64
 20  T_lag24               7037 non-null   float64
 21  RH_lag1               7037 non-null   float64
 22  RH_lag3               7037 non-null   float64
 23  RH_lag6               7037 non-null   float64
 24  RH_lag24              7037 non-null   float64
 25  AH_lag1               7037 non-null   float64
 26  AH_lag3               7037 non-null   float64
 27  AH_lag6               7037 non-null   float64
 28  AH_lag24              7037 non-null   float64
 29  C6H6(GT)_lag1         7037 non-null   float64
 30  C6H6(GT)_lag3         7037 non-null   float64
 31  C6H6(GT)_lag6         7037 non-null   float64
 32  C6H6(GT)_lag24        7037 non-null   float64
 33  C6H6(GT)_rollmean_3   7037 non-null   float64
 34  C6H6(GT)_rollmean_24  7037 non-null   float64
 35  CO(GT)_lag1           7037 non-null   float64
 36  CO(GT)_lag3           7037 non-null   float64
 37  CO(GT)_lag6           7037 non-null   float64
 38  CO(GT)_lag24          7037 non-null   float64
 39  CO(GT)_rollmean_3     7037 non-null   float64
 40  CO(GT)_rollmean_24    7037 non-null   float64
dtypes: float64(37), int64(3), object(1)
memory usage: 2.2+ MB

In [15]:
features_hourly_master_all_targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              9357 non-null   object
 1   CO(GT)                8024 non-null   float64
 2   PT08.S1(CO)           9066 non-null   float64
 3   NMHC(GT)              942 non-null    float64
 4   C6H6(GT)              9066 non-null   float64
 5   PT08.S2(NMHC)         9066 non-null   float64
 6   NOx(GT)               8169 non-null   float64
 7   PT08.S3(NOx)          9066 non-null   float64
 8   NO2(GT)               8167 non-null   float64
 9   PT08.S4(NO2)          9066 non-null   float64
 10  PT08.S5(O3)           9066 non-null   float64
 11  T                     9066 non-null   float64
 12  RH                    9066 non-null   float64
 13  AH                    9066 non-null   float64
 14  Hour                  9357 non-null   int64
 15  Weekday               9357 non-null   int64
 16  Month                 9357 non-null   int64
 17  T_lag1                9065 non-null   float64
 18  T_lag3                9063 non-null   float64
 19  T_lag6                9060 non-null   float64
 20  T_lag24               9042 non-null   float64
 21  RH_lag1               9065 non-null   float64
 22  RH_lag3               9063 non-null   float64
 23  RH_lag6               9060 non-null   float64
 24  RH_lag24              9042 non-null   float64
 25  AH_lag1               9065 non-null   float64
 26  AH_lag3               9063 non-null   float64
 27  AH_lag6               9060 non-null   float64
 28  AH_lag24              9042 non-null   float64
 29  C6H6(GT)_lag1         9065 non-null   float64
 30  C6H6(GT)_lag3         9063 non-null   float64
 31  C6H6(GT)_lag6         9060 non-null   float64
 32  C6H6(GT)_lag24        9042 non-null   float64
 33  C6H6(GT)_rollmean_3   9086 non-null   float64
 34  C6H6(GT)_rollmean_24  9216 non-null   float64
 35  CO(GT)_lag1           8023 non-null   float64
 36  CO(GT)_lag3           8021 non-null   float64
 37  CO(GT)_lag6           8018 non-null   float64
 38  CO(GT)_lag24          8000 non-null   float64
 39  CO(GT)_rollmean_3     8078 non-null   float64
 40  CO(GT)_rollmean_24    8518 non-null   float64
 41  NOx(GT)_lag1          8168 non-null   float64
 42  NOx(GT)_lag3          8166 non-null   float64
 43  NOx(GT)_lag6          8163 non-null   float64
 44  NOx(GT)_lag24         8145 non-null   float64
 45  NOx(GT)_rollmean_3    8211 non-null   float64
 46  NOx(GT)_rollmean_24   8611 non-null   float64
 47  NO2(GT)_lag1          8166 non-null   float64
 48  NO2(GT)_lag3          8164 non-null   float64
 49  NO2(GT)_lag6          8161 non-null   float64
 50  NO2(GT)_lag24         8143 non-null   float64
 51  NO2(GT)_rollmean_3    8209 non-null   float64
 52  NO2(GT)_rollmean_24   8609 non-null   float64
dtypes: float64(49), int64(3), object(1)
memory usage: 3.8+ MB

In [16]:
features_hourly_NO2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7278 entries, 0 to 7277
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              7278 non-null   object
 1   CO(GT)                7026 non-null   float64
 2   PT08.S1(CO)           7278 non-null   float64
 3   NMHC(GT)              808 non-null    float64
 4   C6H6(GT)              7278 non-null   float64
 5   PT08.S2(NMHC)         7278 non-null   float64
 6   NOx(GT)               7278 non-null   float64
 7   PT08.S3(NOx)          7278 non-null   float64
 8   NO2(GT)               7278 non-null   float64
 9   PT08.S4(NO2)          7278 non-null   float64
 10  PT08.S5(O3)           7278 non-null   float64
 11  T                     7278 non-null   float64
 12  RH                    7278 non-null   float64
 13  AH                    7278 non-null   float64
 14  Hour                  7278 non-null   int64
 15  Weekday               7278 non-null   int64
 16  Month                 7278 non-null   int64
 17  T_lag1                7278 non-null   float64
 18  T_lag3                7278 non-null   float64
 19  T_lag6                7278 non-null   float64
 20  T_lag24               7278 non-null   float64
 21  RH_lag1               7278 non-null   float64
 22  RH_lag3               7278 non-null   float64
 23  RH_lag6               7278 non-null   float64
 24  RH_lag24              7278 non-null   float64
 25  AH_lag1               7278 non-null   float64
 26  AH_lag3               7278 non-null   float64
 27  AH_lag6               7278 non-null   float64
 28  AH_lag24              7278 non-null   float64
 29  C6H6(GT)_lag1         7278 non-null   float64
 30  C6H6(GT)_lag3         7278 non-null   float64
 31  C6H6(GT)_lag6         7278 non-null   float64
 32  C6H6(GT)_lag24        7278 non-null   float64
 33  C6H6(GT)_rollmean_3   7278 non-null   float64
 34  C6H6(GT)_rollmean_24  7278 non-null   float64
 35  CO(GT)_lag1           7028 non-null   float64
 36  CO(GT)_lag3           7032 non-null   float64
 37  CO(GT)_lag6           7038 non-null   float64
 38  CO(GT)_lag24          7056 non-null   float64
 39  CO(GT)_rollmean_3     7042 non-null   float64
 40  CO(GT)_rollmean_24    7146 non-null   float64
 41  NOx(GT)_lag1          7278 non-null   float64
 42  NOx(GT)_lag3          7278 non-null   float64
 43  NOx(GT)_lag6          7278 non-null   float64
 44  NOx(GT)_lag24         7278 non-null   float64
 45  NOx(GT)_rollmean_3    7278 non-null   float64
 46  NOx(GT)_rollmean_24   7278 non-null   float64
 47  NO2(GT)_lag1          7278 non-null   float64
 48  NO2(GT)_lag3          7278 non-null   float64
 49  NO2(GT)_lag6          7278 non-null   float64
 50  NO2(GT)_lag24         7278 non-null   float64
 51  NO2(GT)_rollmean_3    7278 non-null   float64
 52  NO2(GT)_rollmean_24   7278 non-null   float64
dtypes: float64(49), int64(3), object(1)
memory usage: 2.9+ MB

In [17]:
features_hourly_NOx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7280 entries, 0 to 7279
Data columns (total 47 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              7280 non-null   object
 1   CO(GT)                7028 non-null   float64
 2   PT08.S1(CO)           7280 non-null   float64
 3   NMHC(GT)              808 non-null    float64
 4   C6H6(GT)              7280 non-null   float64
 5   PT08.S2(NMHC)         7280 non-null   float64
 6   NOx(GT)               7280 non-null   float64
 7   PT08.S3(NOx)          7280 non-null   float64
 8   NO2(GT)               7280 non-null   float64
 9   PT08.S4(NO2)          7280 non-null   float64
 10  PT08.S5(O3)           7280 non-null   float64
 11  T                     7280 non-null   float64
 12  RH                    7280 non-null   float64
 13  AH                    7280 non-null   float64
 14  Hour                  7280 non-null   int64
 15  Weekday               7280 non-null   int64
 16  Month                 7280 non-null   int64
 17  T_lag1                7280 non-null   float64
 18  T_lag3                7280 non-null   float64
 19  T_lag6                7280 non-null   float64
 20  T_lag24               7280 non-null   float64
 21  RH_lag1               7280 non-null   float64
 22  RH_lag3               7280 non-null   float64
 23  RH_lag6               7280 non-null   float64
 24  RH_lag24              7280 non-null   float64
 25  AH_lag1               7280 non-null   float64
 26  AH_lag3               7280 non-null   float64
 27  AH_lag6               7280 non-null   float64
 28  AH_lag24              7280 non-null   float64
 29  C6H6(GT)_lag1         7280 non-null   float64
 30  C6H6(GT)_lag3         7280 non-null   float64
 31  C6H6(GT)_lag6         7280 non-null   float64
 32  C6H6(GT)_lag24        7280 non-null   float64
 33  C6H6(GT)_rollmean_3   7280 non-null   float64
 34  C6H6(GT)_rollmean_24  7280 non-null   float64
 35  CO(GT)_lag1           7030 non-null   float64
 36  CO(GT)_lag3           7034 non-null   float64
 37  CO(GT)_lag6           7040 non-null   float64
 38  CO(GT)_lag24          7058 non-null   float64
 39  CO(GT)_rollmean_3     7044 non-null   float64
 40  CO(GT)_rollmean_24    7148 non-null   float64
 41  NOx(GT)_lag1          7280 non-null   float64
 42  NOx(GT)_lag3          7280 non-null   float64
 43  NOx(GT)_lag6          7280 non-null   float64
 44  NOx(GT)_lag24         7280 non-null   float64
 45  NOx(GT)_rollmean_3    7280 non-null   float64
 46  NOx(GT)_rollmean_24   7280 non-null   float64
dtypes: float64(43), int64(3), object(1)
memory usage: 2.6+ MB