In [2]:
from model_pipeline import get_train_test, select_non_nan_rows, preprocess_data

In [2]:
train_dataset, test_dataset=get_train_test()

In [3]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2247 entries, 2005-01-01 00:00:00 to 2005-04-04 14:00:00
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NMHC(GT)       0 non-null      float64
 1   CO(GT)         2148 non-null   float64
 2   NO2(GT)        2172 non-null   float64
 3   NOx(GT)        2172 non-null   float64
 4   C6H6(GT)       2109 non-null   float64
 5   PT08.S1(CO)    2109 non-null   float64
 6   PT08.S2(NMHC)  2109 non-null   float64
 7   PT08.S3(NOx)   2109 non-null   float64
 8   PT08.S4(NO2)   2109 non-null   float64
 9   PT08.S5(O3)    2109 non-null   float64
 10  T              2109 non-null   float64
 11  RH             2109 non-null   float64
 12  AH             2109 non-null   float64
dtypes: float64(13)
memory usage: 245.8 KB

In [3]:
train_dataset, test_dataset=get_train_test(if_NMHC=True)

In [4]:
X_train, Y_train, X_test, Y_test = preprocess_data(train_dataset,test_dataset,'NMHC(GT)', params={'lags':[1,3,6,12,24],'window_sizes':[3,6,12]})

In [5]:
Y_test.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1883 entries, 2005-01-02 00:00:00 to 2005-04-03 14:00:00
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CO(GT)_t+0   1883 non-null   float64
 1   CO(GT)_t+1   1883 non-null   float64
 2   CO(GT)_t+6   1883 non-null   float64
 3   CO(GT)_t+12  1883 non-null   float64
 4   CO(GT)_t+24  1883 non-null   float64
dtypes: float64(5)
memory usage: 88.3 KB